<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选餐首页</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:gray;">
<img src="//pic.ntimg.cn/20130324/9252150_152129329000_2.jpg" alt="runoob.com" width="1905" height="30">
<p>
    <h1 style="text-align:center;">这是吃货的demo页</h1>
    <hr>
    <!--<img src="//img/hackanm.gif" alt="Pulpit rock" width="48" height="48">-->
    <div style="margin-left:70px;width:850px;">
        <li>吃货宣言：</li><br>
            吃是人生中的一件大事，对吃货来说更是一件非凡而又有意义的事。
        <br>
            我们吃货姓吃，不姓神。其实说到吃，要是真正说到吃，已经条件反射开始吐酸水了。。呵呵。。
        <br>
            吃是一种文化，是一种文明，也是一门艺术，一门科学。真正的吃出点名堂，吃出个把美食家也不是那么容易的事。
        <br>
            有的人吃了一辈子，他还是二师兄吃人参果，没品出那个味来。
        <br>
            我们一贯反对大吃大喝，我们主张少而精。数量可以少一点，但质量一定要高精尖。
        <br>
            好吃的不在多，要吃就吃出个高水平来。
        <br>
            筒子们，我们吃货就是一块砖，哪里有吃的，我们就往哪里搬，人生难得几回吃。
        <br>
            筒子们，其实吃货也不好当，这些年来我们几乎是在肠胃的呐喊声和激烈的斗争中走过的。
        <br>
            其实吃多吃少都是次要的，重要的是参与。
        <br>
            吃，是一种享受，吃多了就难受，吃狠了就还会短阳寿。
        <br>
            什么慢性腹泻啊，血压高，糖尿病啊，什么的，全是吃出来的。
        <br>
            筒子们，我们吃货知不知道这很危险啊？知道。
        <br>
            是不是知道危险我们就不吃哩？NO，我们照吃。
        <br>
            明知山有虎，偏向虎山行。遇到一点困难，我们就打退堂鼓，那以后还怎么在江湖上混哩。
        <br>
            以前先烈们是提着脑袋打江山，现如今我们要抿着嘴吧上战场。
        <br>
            以前先烈们在枪淋弹雨中不怕牺牲，现如今我们要在鸡鸭鱼肉里视死如归。
        <br>
            吃撑了不要紧，只要味道真。
        <br>
            吃挂了我一个，还有后来人。
    </div><br>
    <b style="color:blue;margin-left:870px;">{{meal_random|safe}}</b><br>
    <br>
    <hr>
    <p>不想吃就再<a href="https://www.baidu.com" target="_blank" style="text-decoration:none;">百度</a>下</p>
    <img src="//ali.xinshipu.cn/20100506/original/1273137059593.jpg@288w_216h_99q_1e_1c.jpg" width="310" height="220">
    <img src="//ali.xinshipu.cn/20130228/original/1362054953338.jpg@288w_216h_99q_1e_1c.jpg" width="310" height="220">
    <img src="//ali.xinshipu.cn/20100303/original/1267583910625.jpg@288w_216h_99q_1e_1c.jpg" width="310" height="220">
    <img src="//ali.xinshipu.cn/20210418/original/1618680132499.jpg@288w_216h_50q_1e_1c.jpg" width="310" height="220">
    <img src="//ali.xinshipu.cn/20210429/original/1619687429975.jpg@288w_216h_50q_1e_1c.jpg" width="310" height="220">
    <img src="//ali.xinshipu.cn/20110420/original/1303275437511.jpg@288w_216h_99q_1e_1c.jpg" width="310" height="220">
</p>
</body>
</html>